a {
  text-decoration: none;
  color: black;
}

html {
  background-color: rgb(177, 179, 182);
}

.app-footer {
  /* margin-top: 20px; */
  text-align: center;
  background-color: rgb(16, 18, 53);
  padding: 1px;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-main {
  min-height: 82vh;
}

.app-header {
  background-color: rgb(16, 18, 53);
  padding: 5px;
  /* margin-bottom: 20px; */
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: aliceblue;
  font-size: 23px;
  font-weight: 380;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px;
}

.user-msg {
  height: 40px;
  width: 10em;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 85px;
  line-height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 5px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
}

.logo-main-icon {
  background-color: aliceblue;
  height: 30px;
  padding: 1px;
}
