@media (max-width: 576px) {
  .home-page-icons {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    /* border: 1px solid gray; */
  }

  .home-page-logo {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

@media (min-width: 576px) {
  .home-page-logo {
    padding-top: 130px;
    padding-bottom: 50px;
    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
