.email-app * {
  /* margin-left: 1px; */
  /* padding: 1px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.email-app h1 {
  margin-left: 20px;
}

.unReadMail {
  /* background-color: aliceblue; */
  font-weight: bold;
  /* border-bottom: 1px solid gray; */
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.side-search {
  border: 1px solid black;
}

.sec-container {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  min-height: 600px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 5px;
}
/* 
.mail-inbox {
  border-bottom: 1px solid gray;
} */

.mail-filter {
  padding: 15px;
  background-color: rgb(207, 207, 207);
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.mail-list button {
  background: transparent;
  border: none;
}

.mail-inbox {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

.mail-inbox:hover {
  /* transform: scale(1.01); */
  background-color: beige;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 1px 10px rgba(0, 0, 0, 0.3);
}

.side-filter li {
  cursor: pointer;
  padding: 10px;
}

.main-container button {
  background: transparent;
  border: none;
}

.email-compose {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
}

.email-compose img {
  padding: 30px 30px 0px;
}

.email-compose input {
  border-radius: 5px;
  height: 2em;
}

.to {
  min-width: 250px;
  /* font-size: 1em; */
}

.subject {
  min-width: 450px;
}

.preview-table {
  max-width: 1000px;
}

.mail-details-container {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mail-details-container td {
  padding: 10px 10px 10px 30px;
  border-bottom: 1px solid gray;
}

.mail-details-container tr {
  border: 1px solid rgb(0, 0, 0);
}

.main-container-details {
  display: flex;
  padding: 5px;
  min-height: 600px;
}

.side-filter-container {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border-right: none;
  /* padding: 10px; */
}

.back-link {
  padding: 20px 100px;
  display: inline-block;
}

.mail-details {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.delete-mail-details {
  background: transparent;
  border: none;
}
