.email-app * {
  /* margin-left: 1px; */
  /* padding: 1px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.email-app,
.mail-details h1 {
  margin-left: 20px;
}

.unReadMail {
  /* background-color: aliceblue; */
  font-weight: bold;
  /* border-bottom: 1px solid gray; */
}

.main-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.side-search,
.side-filter-container {
  border: 1px solid gray;
  width: 140px;
}

.sec-container {
  border-right: 1px solid rgb(156, 156, 156);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
  min-height: 600px;
}

.side-filter li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.side-filter ul {
  padding: 5px;
}
/* 
.mail-inbox {
  border-bottom: 1px solid gray;
} */

.mail-filter {
  padding: 15px;
  background-color: rgb(207, 207, 207);
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.mail-list button {
  background: transparent;
  border: none;
}

.mail-inbox {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

.mail-inbox:hover {
  /* transform: scale(1.01); */
  background-color: beige;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 1px 10px rgba(0, 0, 0, 0.3);
}

.side-filter li {
  cursor: pointer;
  padding: 10px;
}

.main-container button {
  background: transparent;
  border: none;
}

.email-compose {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
}

.email-compose input {
  border-radius: 5px;
  height: 2em;
}

.to {
  min-width: 200px;
  /* font-size: 1em; */
}

.subject {
  min-width: 350px;
}

.preview-table {
  max-width: 1000px;
}

.mail-details-container {
  margin: 0 auto;
  border: 1px solid gray;
  /* border-left: none; */
  display: flex;
  flex-direction: column;
  width: 90%;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 5px 20px rgba(0, 0, 0, 0.3);
}

.mail-details-container td {
  padding: 10px 10px 10px 30px;
  border-bottom: 0.5px solid rgb(218, 218, 218);
}

.mail-details-container tr {
  border: 1px solid rgb(0, 0, 0);
}

.main-container-details {
  display: flex;
  padding: 5px;
  min-height: 600px;
}

/* .side-filter-container {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border-right: none;
  padding: 10px;
} */

.back-link {
  padding: 20px 100px;
  display: inline-block;
}

.mail-details {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.delete-mail-details {
  background: transparent;
  border: none;
}

.starred {
  background-color: yellow;
}

.star-icon {
  height: 18px;
  width: 20px;
}

.marked-folder {
  font-weight: bolder;
}

.first-column {
  width: 100px;
}

.compose-table td {
  padding: 10px 10px 10px 30px;
}

.compose-table input[type="text"],
input[type="email"] {
  width: 400px;
}

.draft-icon {
  height: 20px;
}

.compose-new-mail {
  border: 1px solid gray;
  background-color: white;
  width: 90%;
  margin: 30px auto;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 5px 15px rgba(0, 0, 0, 0.3);
}

.compose-icon img {
  height: 50px;
  margin-left: 20px;
}

.search-by-bar {
  font-size: 1em;
}
