.note-app * {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 246, 248);
}

.notes-list li {
  list-style-type: none;
}

.notes-list button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.note-add button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.notes-list h2 {
  text-align: center;
}

.notes-area {
  align-items: start;
  margin: 2rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
}

.note-card {
  border-radius: 10px;
  background-color: lightyellow;
  transition: all 200ms;
  margin-bottom: 1rem;
  width: calc(25% - 15px);
}

.gutter-sizer {
  width: 1%;
}

.note-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 2px 15px rgba(0, 0, 0, 0.3);
}

/* //color modal // */

.color-container {
  padding: 8px 9px 3px;
  white-space: nowrap;
  background: #fff;
  position: absolute;
  top: 85%;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
  border-radius: 6px;
  cursor: pointer;
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

.red {
  background-color: #f28b82;
}

.orange {
  background-color: #fabc05;
}

.yellow {
  background-color: #fff375;
}

.green {
  background-color: #cbff90;
}

.teal {
  background-color: #a7ffeb;
}

.blue {
  background-color: #caf0f8;
}

.darkBlue {
  background-color: #aecbfa;
}

.purple {
  background-color: #d7aefb;
}

.pink {
  background-color: #fdcfe8;
}

.brown {
  background-color: #e6c9a8;
}

.gray {
  background-color: #e8eaed;
}

.note-add {
  color: #817e80;
  display: flex;
  justify-content: center;
}

.note-add form {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-radius: 10px;
  transition: all 200ms;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 2px 15px rgba(0, 0, 0, 0.3);
}

.note-filter {
  margin: 0 auto;
  margin-top: 2rem;
  width: 20rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* background-color: #add8e6b9; */
  border-radius: 10px;
  transition: all 200ms;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 2px 15px rgba(0, 0, 0, 0.3);
}

.note-filter input {
  height: 2rem;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.note-filter select {
  border: 0.5px solid gray;
  border-radius: 5px;
}

.note-add button:hover {
  background: rgb(145 145 145 / 20%);
  border-radius: 50%;
}

.note-add input,
.note-filter input,
.note-filter select {
  padding: 0 0.5rem;
  height: 2rem;
  border: 0.5px solid gray;
  border-radius: 5px;
}

/* .note-add .content {
  width: 15rem;
} */

.note-app .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.note-app h1 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.note-app .sub-heading {
  display: flex;
  justify-content: center;
}

.note-preview header {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.note-preview header button {
  padding: 0.5em;
}

.note-preview header button:hover {
  background: rgb(145 145 145 / 20%);
  border-radius: 50%;
}

.note-preview .mainCmp {
  padding: 1rem;
}

.note-preview input {
  background-color: transparent;
  border: none;
  outline: 0;
}

.note-preview .actions {
  display: flex;
  position: relative;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.note-preview .actions button:hover {
  background: rgb(145 145 145 / 20%);
  border-radius: 50%;
}

.note-preview .actions button {
  padding: 0.5em;
}

.note-card button {
  opacity: 0;
}

.note-card:hover button {
  opacity: 1;
}

.pinned-notes .note-card header button {
  opacity: 1;
}

.note-img img {
  width: 100%;
}

.note-video iframe {
  width: 100%;
}

.note-todos .done {
  text-decoration: line-through;
}

.note-todo input {
  background-color: transparent;
}

.note-todos ul {
  padding: 0;
}

.note-todos li {
  display: flex;
}

.note-add .add-actions {
  width: 10rem;
  display: flex;
  gap: 0.5rem;
}

.note-add .add-actions button:hover {
  background: rgb(145 145 145 / 20%);
  border-radius: 50%;
}

.note-txt textarea,
.note-todos textarea {
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  font-family: Arial;
  width: 100%;
}

.actions-container {
  display: flex;
  gap: 2rem;
}

.actions-container .add-actions {
  flex-grow: 1;
}
