body {
  background-color: rgb(245, 246, 248);
}

.notes-list li {
  list-style-type: none;
}

.notes-list button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.notes-list img {
  color: white;
}

.notes-list img:hover {
  color: black;
}

.notes-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.note-card {
  border-radius: 10px;
  width: 10rem;
  background-color: lightyellow;
  padding: 2rem;
  line-break: anywhere;
}

.note-card:hover {
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  transform: scale(1.025);
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
    0 2px 15px rgba(0, 0, 0, 0.3);
}

/* //color modal // */

.color-container {
  width: 135px;
  z-index: 6;
  background: #fff;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
  border-radius: 6px;
  cursor: pointer;
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

.aliceblue {
  background-color: #f0f8ff;
}

.aquamarine {
  background-color: #7fffd4;
}

.lavender {
  background-color: lavender;
}

.lavenderblush {
  background-color: lavenderblush;
}

.lightgoldenrodyellow {
  background-color: lightgoldenrodyellow;
}
.lightgreen {
  background-color: lightgreen;
}
.mistyrose {
  background-color: mistyrose;
}
.peachpuff {
  background-color: peachpuff;
}

.plum {
  background-color: plum;
}

.lightBlue {
  background-color: #6cf;
}

.wheat {
  background-color: wheat;
}

.beige {
  background-color: beige;
}

.crimson {
  background-color: crimson;
}

.sandybrown {
  background-color: sandybrown;
}

.salmon {
  background-color: salmon;
}
